
.header-container {
    background: url(./pics/banner.jpg);
    background-size: 100%;
    height: 30vw;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}

.welcome-header {
    width: 50%;
    position: absolute;
    top: 50px;
    right: 10vw;
    padding: 20px;
    background-color: rgba(40, 70, 66, 0.4);
    text-align: left;
    color: white;
    text-shadow: 2px 2px 3px rgba(0 ,0 ,0 , 0.65);
}

.welcome-header-title {
    font-size: 3.3rem;
    font-weight: bold;
    
}

.welcome-header-text {
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 1.3;
    color: rgb(216, 213, 213);
}

.main-menu-container {
    margin-left: 15vw;
    background-color: rgba(63, 117, 134, 0.3);
    width: 10vw;
    border-left: solid 5px rgba(129, 225, 255, 0.63);
    }

.main-menu {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.main-menu-item {
    font-size: 1rem;
    color: whitesmoke;
    }

.main-menu-item a {
    display: block;
    width: 10vw;
    text-decoration: none;
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: lighter;
    color: whitesmoke;
   }

.main-menu-item:hover {
    cursor: pointer;
    background-color: #4cc3c3;
    width: 10.5vw;
    padding: 5px 0;
    transition: all 0.2s ease-in-out;transition
}